<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czu.yxySystem.mapper.QuanXianMapper">

    <select id="getList" resultType="com.czu.yxySystem.entity.DO.QuanXianDO">
        select * from QuanXian
        <where>
            <if test="quanXianMing != '' and quanXianMing != null">
                quanXianName like '%' + #{quanXianMing} +'%'
            </if>
        </where>
    </select>
</mapper>